{%- set masterip=salt['cmd.run']("/sbin/ifconfig eth0 | grep 'inet addr:' | cut -d: -f2 | awk '{print $1}'") -%}
{%- set minionpub=salt['cmd.run']('cat /root/launched-aws-instances/'~minionid~'.pub') -%}
{%- set minionpem=salt['cmd.run']('cat /root/launched-aws-instances/'~minionid~'.pem') -%}
#!/bin/bash
yum-config-manager --enable epel
curl -L http://bootstrap.saltstack.org | sh -s -- -D -U -X 
mkdir -p /etc/salt/pki
cat > /etc/salt/pki/minion.pem <<EOF
{{minionpem}}
EOF
cat > /etc/salt/pki/minion.pub <<EOF
{{minionpub}}
EOF
INSTANCEID=`/usr/bin/sudo curl --silent http://169.254.169.254/latest/meta-data/instance-id`
AMIID=`/usr/bin/sudo curl --silent http://169.254.169.254/latest/meta-data/ami-id`
rm -rf /etc/salt/minion
cat > /etc/salt/minion <<EOF
master: {{masterip}}
id: {{minionid}}
state_output: mixed
grains:
  instance-id: $INSTANCEID
  ami-id: $AMIID
mine_functions:
  network.ip_addrs: []
mine_interval: 60
EOF
chkconfig salt-minion on
service salt-minion start

