{%- set hosts = pillar['cons3rt-infrastructure']['hosts'] -%}
{%- set assigned=[] %}
base:{% for role, value in hosts.iteritems() -%}{% if value['fqdn'] is defined and value['fqdn']|lower!='none' -%}{% if value['fqdn'] not in assigned -%}
{% do assigned.append(value['fqdn']) -%}
  {{value['fqdn']}}:
    - cons3rt.{{role}}
{% else -%}
    - cons3rt.{{role}}
{% endif -%}{% endif -%}{% endfor -%}

