{%- set kernel=salt['cmd.run']('/bin/uname -r') -%}
{%- set awsversion=salt['cmd.run']("cat /etc/system-release | awk '{print $5}'") -%}
default=0
timeout=1
hiddenmenu

title Amazon Linux {{awsversion}} ({{kernel}})
root (hd0)
kernel /boot/vmlinuz-{{kernel}} root=LABEL=/ console=hvc0 selinux=1 security=selinux LANG=en_US.UTF-8 KEYTABLE=us
initrd /boot/initramfs-{{kernel}}.img
