{%- set apps_path=salt['pillar.get']('cons3rt-packages:application_path','/opt') -%}
#!/bin/sh
#
# This script will be executed *after* all the other init scripts.
# You can put your own initialization stuff in here if you don't
# want to do the full Sys V style init stuff.

touch /var/lock/subsys/local

if [ ! -f {{apps_path}}/.saltstack-actions/selinux-filesystem-relabeled ]
then
   printf '\nInitial relabeling of filesystem for SELinux not complete - Exiting.'
   exit 0
fi


if [ ! -f {{apps_path}}/.saltstack-actions/selinux-restorecon-complete ]
then
   printf 'Restoring default SELinux security context for entire filesystem: '
   /sbin/restorecon -p -R /
   printf '\nComplete.\n'

   printf 'Creating lock file: '
   /bin/touch {{apps_path}}/.saltstack-actions/selinux-restorecon-complete
   /bin/echo -e "SALTSTACK - LOCKFILE\nDo not remove or modify this file in anyway.\nRemoving this file will initiate a restorecon -R / at next reboot." >> {{apps_path}}/.saltstack-actions/selinux-restorecon-complete
   /bin/chown root:root {{apps_path}}/.saltstack-actions/selinux-restorecon-complete
   /bin/chmod 0644 {{apps_path}}/.saltstack-actions/selinux-restorecon-complete
   printf 'Done.\n'

   printf 'Initiating system restart...'
   /sbin/shutdown -r now 2&>1
fi

if [[ -f {{apps_path}}/.saltstack-actions/selinux-filesystem-relabeled && -f {{apps_path}}/.saltstack-actions/selinux-restorecon-complete ]]
then
   if [ `/usr/sbin/getenforce|awk '{print tolower($0)}'` == 'enforcing' ]; then
      exit 0
   else
      printf '\nEnabling SELinux: '  
      /bin/sed -i 's/SELINUX=enforcing/SELINUX=enforcing/g' /etc/selinux/config
      /bin/sed -i 's/SELINUXTYPE=mls/SELINUX=targeted/g' /etc/selinux/config
      printf 'Done.\n'

      printf 'Re-enabling salt-minion: '
      /sbin/chkconfig salt-minion on
      printf 'Done.\n'
      
      printf 'Initiating system restart...'
      /sbin/shutdown -r now 2&>1
   fi
fi 
exit 0
