{%- set hosts=pillar['cons3rt-infrastructure']['hosts'] -%}
{%- set domain=pillar['cons3rt-infrastructure']['domain'] -%}
{%- set iplist=[] -%}
127.0.0.1   localhost localhost.localdomain
{% for role, value in hosts.iteritems() -%}
{% if value['ip'] is defined and value['ip']|lower!='none' -%}{% if iplist is defined -%}{% if value['ip'] not in iplist -%}
{{value['ip']}}   {{value['fqdn']}} {{value['fqdn']|replace('.'~domain,'')}}{% do iplist.append(value['ip']) %}
{% endif -%}{% endif -%}{% endif -%}{% endfor -%}

