{%- set hosts=pillar['cons3rt-infrastructure']['hosts'] -%}
{%- set infratype = salt['pillar.get']('cons3rt-infrastructure:infrastructure_type','undefined') -%}
{%- set domain=pillar['cons3rt-infrastructure']['domain'] -%}
{%- set saltmineips=[] -%}
{%- set iplist=[] -%}
127.0.0.1   localhost localhost.localdomain
{% if infratype|lower=='aws' or infratype|lower=='openstack' %}
{% for role, value in hosts.iteritems() -%}
{% if value['fqdn'] is defined and value['fqdn']|lower!='none' -%}{% if iplist is defined -%}
{% if ((salt['mine.get'](value['fqdn'],'network.ip_addrs'))[value['fqdn']]|first) is defined -%}
{% set privateip=((salt['mine.get'](value['fqdn'],'network.ip_addrs'))[value['fqdn']]|first) -%}{% if privateip not in iplist -%}
{{privateip}}   {{value['fqdn']}} {{value['fqdn']|replace('.'~domain,'')}}{% do iplist.append(privateip) %}
{% endif -%}{% endif -%}{% endif -%}{% endif -%}{% endfor -%}
{% else -%}
{% for role, value in hosts.iteritems() -%}
{% if value['ip'] is defined and value['ip']|lower!='none' -%}{% if iplist is defined -%}{% if value['ip'] not in iplist -%}
{{value['ip']}}   {{value['fqdn']}} {{value['fqdn']|replace('.'~domain,'')}}{% do iplist.append(value['ip']) %}
{% endif -%}{% endif -%}{% endif -%}{% endfor -%}
{% endif -%}
