{%- set timeservers=pillar['cons3rt-infrastructure']['ntpservers'] -%}
{%- for server in timeservers %}
server {{server}}{% endfor %}
fudge 127.127.1.0 stratum 10 
driftfile /etc/ntp/drift
restrict default ignore
restrict 127.0.0.0 mask 255.0.0.0
authenticate no
