{%- set searchpath=pillar['cons3rt-infrastructure']['search_domain'] %}
{%- set nameservers=pillar['cons3rt-infrastructure']['dnsservers'] %}
{%- for domain in nameserver %}
search {{domain}}
{%- endfor %}
{%- for nameserver in nameservers %}
nameserver {{ nameserver }}
{%- endfor %}
