{%- set infranetwork=pillar['cons3rt']['infrastructure_network'] -%}
{%- set sutsnetwork=pillar['cons3rt']['suts_network'] -%}
# Share to infrastructure hosts only
/cons3rt \
	{{infranetwork}}(fsid=0,rw,sync,no_subtree_check,all_squash,anongid=500,anonuid=500)

# Shared read-write to the SUTs
/cons3rt/run \
{%- for network in sutsnetwork %}
{%- if not loop.last %}
	{{network}}(fsid=1,rw,sync,no_subtree_check,all_squash,anongid=500,anonuid=500) \
{%- else %}
	{{network}}(fsid=1,rw,sync,no_subtree_check,all_squash,anongid=500,anonuid=500)
{%- endif %}{%- endfor %}
# Shared read-only to the SUTs
/cons3rt/agent-service \
{%- for network in sutsnetwork %}
{%- if not loop.last %}
	{{network}}(fsid=2,rw,sync,no_subtree_check,all_squash,anongid=500,anonuid=500) \
{%- else %}
	{{network}}(fsid=2,ro,sync,no_subtree_check,all_squash,anongid=500,anonuid=500)
{%- endif %}{%- endfor %}

