{%- set hosts=pillar['cons3rt-infrastructure']['hosts'] -%}
{%- set cons3rthome=salt['pillar.get']('cons3rt:cons3rt_path','/cons3rt') -%}
{%- set sutsnetwork=pillar['cons3rt']['suts_network'] -%}
{%- set iplist=[] -%}
{%- for host, value in hosts.itermitems() -%}
{%- if value['ip'] is defined %}{%- if iplist is defined -%}{%- if value['ip'] not in iplist -%}
{%- do iplist.append(value['ip']) -%}{%- endif -%}{%- endif -%}{%- endif -%}
{%- endfor -%}
[global]
  workgroup = workgroup
  server string = Samba Server
  load printers = no
  socket options = TCP_NODELAY IPTOS_LOWDELAY SO_RCVBUF=49152 SO_SNDBUF=49152
  max xmit = 65535
  dead time = 15
  preferred master = no
  hosts allow = {% for ip in iplist -%} {{ip}} {% endfor -%}{% for net in sutsnetwork -%} {{net}} {% endfor -%} 127.
  passdb backend = tdbsam
  security = share
  log file = /var/log/samba/systems/log.%m
  max log size = 50


#============================ Share Definitions ==============================
[CONS3RT]
  comment = CONS3RT share
  path = {{cons3rthome}}
  public = yes
  browsable = no
  writable = yes
  force user = cons3rt
  force group = cons3rt
  kernel oplocks = yes
  oplocks = yes
  level2 oplocks = yes
  hosts allow = {% for ip in iplist -%} {{ip}} {% endfor -%} 127.

[CONS3RT-RUN]
  comment = CONS3RT run share
  path = {{cons3rthome}}/run
  public = yes
  browsable = no
  writable = yes
  force user = cons3rt
  force group = cons3rt
  kernel oplocks = yes
  oplocks = yes
  level2 oplocks = yes

[AGENT-SERVICE]
  comment = Agent Service share
  path = {{cons3rthome}}/agent-service
  public = yes
  browsable = no
  writable = no
  force user = cons3rt
  force group = cons3rt
  kernel oplocks = yes
  oplocks = yes
  level2 oplocks = yes

