{%- set cons3rt = pillar['cons3rt-infrastructure']['hosts']['cons3rt']['fqdn'] %}
{%- set apps_path = salt['pillar.get']('cons3rt-packages:application_path','/opt') %}
{%- set jreversion = pillar['cons3rt-packages']['java_jre']['version'] %}
#!/bin/sh
# $Id: tomcat_service_linux.sh 10412 2013-11-08 18:48:55Z fitzpatrick $

# chkconfig: 235 85 15
# description: Tomcat Service
#
##############################################################################
#
# Script tested against Tomcat6 and Tomcat7 - use with other versions of
# Tomcat may require minor modifications
#
##############################################################################
#
#   Copyright 2004 The Apache Software Foundation.
#
#   Licensed under the Apache License, Version 2.0 (the "License");
#   you may not use this file except in compliance with the License.
#   You may obtain a copy of the License at
#
#       http://www.apache.org/licenses/LICENSE-2.0
#
#   Unless required by applicable law or agreed to in writing, software
#   distributed under the License is distributed on an "AS IS" BASIS,
#   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#   See the License for the specific language governing permissions and
#   limitations under the License.
##############################################################################
#
# Small shell script to show how to start/stop Tomcat using jsvc
# If you want to have Tomcat running on port 80 please modify the server.xml
# file:
#
#    <!-- Define a non-SSL HTTP/1.1 Connector on port 80 -->
#    <Connector className="org.apache.catalina.connector.http.HttpConnector"
#               port="80" minProcessors="5" maxProcessors="75"
#               enableLookups="true" redirectPort="8443"
#               acceptCount="10" debug="0" connectionTimeout="60000"/>
#
# That is for Tomcat-5.0.x (Apache Tomcat/5.0)
#
##############################################################################

# Adapt the following lines to your configuration
JAVA_HOME={{apps_path}}/jre{{jreversion}}
CATALINA_HOME={{apps_path}}/tomcat
DAEMON_HOME={{apps_path}}/commons-daemon
TOMCAT_USER=tomcat

# Adjust this to your CONS3RT environment!
CATALINA_OPTS=""

# Environment to export for use from the GUI
CONS3RT_HOME=/net/{{cons3rt}}/cons3rt
export CONS3RT_HOME

# TVS 20120905 added for JP messaging encryption support
export JP_MSG_HOME=${CONS3RT_HOME}/jackpine-messaging

# for multi instances adapt those lines.
TMP_DIR=/tmp
PID_FILE=/var/run/jsvc-tomcat.pid
CATALINA_BASE={{apps_path}}/tomcat

# Add Tomcat runtime options
CATALINA_OPTS=$CATALINA_OPTS" -Xms512m -Xmx2048m -XX:MaxPermSize=256m -Djava.awt.headless=true -DdisableRemoteLogging"

# Added to support JMX Monitoring/Profiling
#CATALINA_OPTS=${CATALINA_OPTS}" -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=8085 -Dcom.sun.management.jmxremote.ssl=false -Dcom.sun.management.jmxremote.authenticate=false"

# Define the classpath for jsvc to use when starting Tomcat
CLASSPATH=\
$JAVA_HOME/lib/tools.jar:\
$CATALINA_HOME/bin/commons-daemon.jar:\
$CATALINA_HOME/bin/bootstrap.jar

# Tomcat7 requires a specific jar to be added to the classpath
if [ -e $CATALINA_HOME/bin/tomcat-juli.jar ]
then
  CLASSPATH=${CLASSPATH}:$CATALINA_HOME/bin/tomcat-juli.jar
fi

case "$1" in
  restart)
    #
    # Stop Tomcat
    #
    $DAEMON_HOME/jsvc \
    -stop \
    -pidfile $PID_FILE \
    org.apache.catalina.startup.Bootstrap
    #
    # Start Tomcat
    #
    $DAEMON_HOME/jsvc \
    -user $TOMCAT_USER \
    -home $JAVA_HOME \
    -Dcatalina.home=$CATALINA_HOME \
    -Dcatalina.base=$CATALINA_BASE \
    -Djava.io.tmpdir=$TMP_DIR \
    -wait 10 \
    -pidfile $PID_FILE \
    -outfile $CATALINA_BASE/logs/catalina.out \
    -errfile $CATALINA_BASE/logs/catalina.err \
    $CATALINA_OPTS \
    -cp $CLASSPATH \
    org.apache.catalina.startup.Bootstrap
    #
    # To get a verbose JVM
    #-verbose \
    # To get a debug of jsvc.
    #-debug \
    exit $?
    ;;

  start)
    #
    # Start Tomcat
    #
    $DAEMON_HOME/jsvc \
    -user $TOMCAT_USER \
    -home $JAVA_HOME \
    -Dcatalina.home=$CATALINA_HOME \
    -Dcatalina.base=$CATALINA_BASE \
    -Djava.io.tmpdir=$TMP_DIR \
    -wait 10 \
    -pidfile $PID_FILE \
    -outfile $CATALINA_BASE/logs/catalina.out \
    -errfile $CATALINA_BASE/logs/catalina.err \
    $CATALINA_OPTS \
    -cp $CLASSPATH \
    org.apache.catalina.startup.Bootstrap
    #
    # To get a verbose JVM
    #-verbose \
    # To get a debug of jsvc.
    #-debug \
    exit $?
    ;;

  stop)
    #
    # Stop Tomcat
    #
    $DAEMON_HOME/jsvc \
    -stop \
    -pidfile $PID_FILE \
    org.apache.catalina.startup.Bootstrap
    exit $?
    ;;

  status)
        if [ -e ${PID_FILE} ]
        then
                PID=`more ${PID_FILE}`
                if [ `ps wwaux | grep -c ${PID}` > 1 ]
                then
                        echo "Tomcat running with PID = ${PID}"
                else
                        echo "Could not find process with ID = ${PID}"
                fi
        fi
        ;;

  *)
    echo "Usage tomcat.sh [restart|start|stop|status]"
    exit 1
    ;;
esac

