{%- set webinterface = pillar['cons3rt-infrastructure']['hosts']['webinterface']['fqdn'] -%}
{%- set maintmode = salt['pillar.get']('cons3rt:enable_maint_mode','false') -%}
{%- set cacert = salt['pillar.get']('cons3rt:ca_certificate_filename','undefined') -%}
{%- set crl = salt['pillar.get']('cons3rt:webinterface_ca_revocation_path','undefined') -%}
# Configuration file provided by CONS3RT to allow HTTPD to sit in front
# of the container CONS3RT GUI runs in (JBoss or Tomcat)

<VirtualHost *:80>
  Redirect permanent / https://{{webinterface}}/
</VirtualHost>

<VirtualHost *:443>
  ServerName {{webinterface}}
  #ServerAlias

  DocumentRoot /var/www/html/cons3rt

  SSLEngine On
  SSLProtocol All -SSLv2
  SSLCipherSuite HIGH:MEDIUM:!RC4:!RC2:!SSLv2:!aNULL
  SSLCACertificateFile /etc/pki/tls/certs/{{cacert}}
  SSLCertificateFile /etc/pki/tls/certs/{{webinterface}}.crt
  SSLCertificateKeyFile /etc/pki/tls/private/{{webinterface}}.key
{%- if crl defined and crl != 'undefined' %}
  SSLCARevocationPath {{crl}}{% endif %}
  SSLInsecureRenegotiation On
  SSLOptions +OptRenegotiate
  SSLVerifyClient optional
  SSLVerifyDepth 10

  # Initialize the header fields to avoid spoofing
  RequestHeader set SSL_CLIENT_CERT ""
  RequestHeader set SSL_CLIENT_VERIFY ""
  RequestHeader set SSL_CLIENT_CERT "%{SSL_CLIENT_CERT}s"
  RequestHeader set SSL_CLIENT_VERIFY "%{SSL_CLIENT_VERIFY}s"

  RewriteEngine On
{%- if maintmode == 'true' %}
  # Maintenance mode enabled
  RewriteCond %{REQUEST_URI} !^/static
  RewriteCond %{REQUEST_URI} !^/offline
  RewriteRule ^(.*)$ /offline/ [R=302,L]{% endif %}
  RewriteCond %{REQUEST_URI} !^/robots.txt
  RewriteCond %{REQUEST_URI} !^/favicon.ico
  RewriteCond %{REQUEST_URI} !^/static
  RewriteCond %{REQUEST_URI} !^/memory
  RewriteCond %{REQUEST_URI} !^/error
  RewriteCond %{REQUEST_URI} !^/rest
  RewriteCond %{REQUEST_URI} !^/notice
  RewriteCond %{HTTP_COOKIE} !consent= [NC]
  RewriteRule ^(.*)$ /notice/ [B,R=302,L,CO=return_to:$1:{{webinterface}}:1440:/:secure:httponly]

  # Handle old bookmarks
  #RewriteRule ^/cons3rt.*$ /redirect/ [R=301,L]

  RewriteCond %{REQUEST_URI} !^/(robots.txt|favicon.ico|static|memory|developer)
  RewriteRule ^/(.*) http://127.0.0.1:8080/$1 [P]
  ProxyPassReverse / http://127.0.0.1:8080/

  <Location /rest/api>
    SSLVerifyClient require
    SSLRenegBufferSize 10240000
  </Location>

  <Directory /var/www/html/cons3rt>
    Options -Indexes
  </Directory>

  ErrorDocument 403 /error/
  ErrorDocument 404 /error/

  LogLevel warn
  SetEnvIf Request_URI "^/_/tunnel" dontlog
  ErrorLog logs/{{webinterface}}-error_log
  CustomLog logs/{{webinterface}}-access_log "%h %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" \"%{SSL_CLIENT_S_DN}x\"" env=!dontlog

  <Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
  </Files>
  <Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
  </Directory>

  BrowserMatch ".*MSIE.*" nokeepalive ssl-unclean-shutdown downgrade-1.0 force-response-1.0

</VirtualHost>
